<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">fullname</th>
        <th scope="col">Email</th>
        <th scope="col">PhoneNumber</th>
        <th scope="col">Gender</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody id="user-list">
         @{int i = 0;}
      @foreach (var user in @ViewBag.users) {
      <tr>
        <th scope="row">@(++i)</th>
        <td>@user.firstName @user.lastName</td>
        <td>@user.email</td>
        <td>@user.phoneNumber</td>
        <td>@user.gender</td>
        <td>@user.role</td>
      </tr>
      }
    </tbody>
  </table>
</div>
